body {
    background-color: #bbb;
    color: #000;
    margin: 0;
    padding: 0;
}

body,
select,
button {
    font-family: sans-serif;
    font-size: 12px;
}

/* Icons */

.icon {
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.spin {
    animation: spin 2s linear infinite;
}

/* Top bar */

header {
    background-color: #333;
    padding: 10px;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    font-weight: bold;
    font-size: 24px;
}

#logo span {
    background-color: #46abff;
    padding: 2px;
    border-radius: 5px;
    color: black;
}

#counts {
    line-height: calc(2em + 4px);
}

.status {
    padding: 5px;
}

.status-ok {
    background-color: green;
}

.status-connecting {
    background-color: red;
}

/* Filters */

select {
    display: block;
}

select {
    width: 100%;
}

/* Message list */

main {
    padding: 10px;
}

#messages {
    width: 100%;
    border-collapse: collapse;
}

#messages th,
#messages td {
    border: 1px solid #666;
    padding: 5px;
}

.log-message-date,
.log-message-address {
    white-space: nowrap;
}

.log-message-content {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}
